<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="This website helps you to run your scripts and programs online.">
    <!-- <meta name="Arshad" content="https://arshad272.github.io/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ROBOTS" content="Index, FOLLOW">
    <title>Scripter - Terms of Usage</title>
    <link rel="shortcut icon" href="Images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/loginstyle.css">
    <script src="https://kit.fontawesome.com/1a6184a610.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <!-- <script src="scripts/loginjs.js"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="text-center flex-display bg-gray-100 text-gray-800 py-7 px-6">
        <h1 class="text-5xl font-bold w-11/12 mt-0 mb-6">Terms of Usage</h1>
    </div>
    <section class="text-gray-600 body-font mobile-padding-setter ">
        <div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-4/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="Images/aboutus.png">
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <p style="color: black;text-align:justify;font-size:larger;" class="mb-8 leading-relaxed">Cloud Based Code-Execution Platform facilitates programmers to execute their multiple programs and scripts in cloud servers simultaneously. Each programmer may use a different problem solving environment. Hence our approach is to provide
                    a secure platform that supports multiple problem solving environments through which programmers can execute code parallelly in a cloud environment, even if the required compiler/interpreter is not installed locally by the programmer.
                    Through our Code-Execution platform programmers can upload and execute their programs for multiple days or even months depending upon their need. We offer background execution of your programs in our cloud servers for up to two months.
                </p>

            </div>
        </div>
    </section>
    <hr>
    <section class="text-gray-600 body-font mobile-padding-setter ">
        <div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center">
            <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <p style="color: black;text-align:justify;font-size:larger;" class="mb-8 leading-relaxed">Usage of modules like pyautogui, tkinter, os, plyer are not allowed because these modules simulates chnaages in server. As your code is executing on cloud server you cannot expect the output and changes of these modules in your personal
                    computer.
                </p>
                <p style="color: black;text-align:justify;font-size:larger;" class="mb-8 leading-relaxed">Once you click on RUN button your code will be started execution automatically in cloud servers. The best way to make use of this platform is by executing web scraping programs.</p>
                <p style="color: black;text-align:justify;font-size:larger;" class="mb-8 leading-relaxed">Finally, you can make use of modules like Twilio for makeing phone calls using python. For example if your condition is getting satisifed then you can place a phone call to your personal mobile number.</p>


            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <img class="object-cover object-center rounded" alt="hero" src="Images/prohibited.png">
            </div>
        </div>
    </section>
    <hr>
    <section class="text-gray-600 body-font mobile-padding-setter ">
        <div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-4/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="Images/usecase.png">
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <p style="color: black;text-align:justify;font-size:larger;" class="mb-8 leading-relaxed">For example, let us consider you have written a program which will send an alert to your mobile number when the stock price of XYZ company reaches 4,000/- Now no one know how many days it will take for stock price of XYZ company to reach
                    4,000/- Hence you cannot execute these kind of programs in your personal computer because personal computers cannot run for multiple days.
                </p>
                <p style="color: black;text-align:justify;font-size:larger;" class="mb-8 leading-relaxed">So, we are introducing our platform where you can run these kind of programs and finally you will get your desired output when the condition in your code is getting satisfied.
                </p>

            </div>
        </div>
    </section>
</body>

</html>